# Python
__pycache__/
*.py[cod]
*$py.class
*.so
tests/
archive/

# 虚拟环境
venv/
.venv/
ENV/

# 环境变量
.env

# IDE
.idea/
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# 数据文件
data/
info.txt

config/config-test.json
src/testWallet.py

